<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phd.mapper.CourseMapper">
  <resultMap id="BaseResultMap" type="com.phd.entity.Course">
    <result column="couid" jdbcType="INTEGER" property="couid" />
    <result column="couname" jdbcType="VARCHAR" property="couname" />
    <result column="aid" jdbcType="VARCHAR" property="aid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    couid, couname, aid
  </sql>
  <select id="selectByExample" parameterType="com.phd.entity.CourseExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from course
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.phd.entity.CourseExample">
    delete from course
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.phd.entity.Course">
    insert into course (couid, couname, aid
      )
    values (#{couid,jdbcType=INTEGER}, #{couname,jdbcType=VARCHAR}, #{aid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.phd.entity.Course">
    insert into course
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="couid != null">
        couid,
      </if>
      <if test="couname != null">
        couname,
      </if>
      <if test="aid != null">
        aid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="couid != null">
        #{couid,jdbcType=INTEGER},
      </if>
      <if test="couname != null">
        #{couname,jdbcType=VARCHAR},
      </if>
      <if test="aid != null">
        #{aid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.phd.entity.CourseExample" resultType="java.lang.Long">
    select count(*) from course
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update course
    <set>
      <if test="record.couid != null">
        couid = #{record.couid,jdbcType=INTEGER},
      </if>
      <if test="record.couname != null">
        couname = #{record.couname,jdbcType=VARCHAR},
      </if>
      <if test="record.aid != null">
        aid = #{record.aid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update course
    set couid = #{record.couid,jdbcType=INTEGER},
      couname = #{record.couname,jdbcType=VARCHAR},
      aid = #{record.aid,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <select id="getCounameByCouid" resultType="java.lang.String">
    SELECT COUNAME FROM COURSE  WHERE COUID=#{couid}
  </select>

  <select id="queryCourseByCid" resultType="com.phd.entity.Course">
    select couid,couname,aid from course a where 1=1
    and exists(select 1 from schoolattendance b where a.couid=b.couid and cid=#{cid})
  </select>

  <select id="queryCourseByStuCoid" resultType="com.phd.entity.Course">
    select couid,couname,aid from course a where 1=1
    and exists(select 1 from courseDetails b where a.couid=b.couid
        and exists(select 1 from adminmanageclassesdetails d where d.cid=b.cid
            and exists(select 1 from adminmanageclasses e where e.amcid=d.amcid and e.aid=#{aid})))
  </select>
</mapper>