<html  class="x-admin-sm" xmlns:th="http://www.thyeleaf.org">
    <head>
        <title>设置预警信息</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" th:href="@{/X-admin/css/font.css}">
        <link rel="stylesheet" th:href="@{/X-admin/css/xadmin.css}">
        <link rel="stylesheet" th:href="@{/X-admin/css/theme5.css}">
        <script th:src="@{/X-admin/lib/layui/layui.js}" charset="utf-8"></script>
        <script type="text/javascript" th:src="@{/X-admin/js/xadmin.js}"></script>
        <script th:src="@{/X-admin/js/jquery.min.js}" charset="utf-8"></script>

        <!--[if lt IE 9]>
        <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
        <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
    <div class="layui-card">

    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
        <legend>设置预警信息</legend>
    </fieldset>

    <div class="layui-form" style="width: 600px;height: 400px;">
        <div class="layui-form-item">
            <label class="layui-form-label">邮箱</label>
            <div class="layui-input-block">
                <input type="text" name="aemail" id="aemail"  lay-verify="email" autocomplete="off" th:value="${aemail}" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">预警缺勤次数</label>
            <div class="layui-input-block">
                <input type="text" name="awarnumm" id="awarnumm" lay-verify="required" lay-reqtext="预警缺勤次数是必填项，岂能为空？" placeholder="请输入" th:value="${awarnumm}" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button  id="submit" onclick="submitt()" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
            </div>
        </div>
    </div>

    <!-- 示例-970 -->
    <ins class="adsbygoogle" style="display:inline-block;width:970px;height:90px" data-ad-client="ca-pub-6111334333458862" data-ad-slot="3820120620"></ins>

    </div>

    <!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
    <script>
       function submitt() {
           $ = layui.jquery;
           var awarnumm = $("#awarnumm").val();
            var aemail =  $("#aemail").val();
           // if(!aemail.match(/^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]{2,3}){1,2})$/))
           // {
           //     alert("格式不正版确！请重新输入");
           //     $("#email").focus();
           //     return;
           // }
           var reg = /^([a-zA-Z]|[0-9])(\w|\-)+@[a-zA-Z0-9]+\.([a-zA-Z]{2,4})$/;
           if(!reg.test(aemail)){
               layer.msg("邮箱格式不正版确！请重新输入",{icon:5},{time:2000});
               $("#aemail").focus();
               return;
           }
           if(isNaN(awarnumm)){
               layer.msg("预警缺勤次数格式不正版确！！请重新输入",{icon:5},{time:2000});
               $("#awarnumm").focus();
               return;
           }
           $.ajax({
               url:'/setInformation',
               type:'get',
               data:{'awarnumm':awarnumm,'aemail':aemail},//向服务端发送删除的id
               success:function(suc){
                   if(suc==200){
                       layer.msg("设置成功",{icon:1});
                   }
                   else{
                       layer.msg("设置失败,原因"+suc,{icon:5},{time:5000});
                   }
               }
           });
       }
    </script>

    </body>
</html>