<html  class="x-admin-sm" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>班级设置（辅导员）</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"  media="all">
    <script th:src="@{/layui/layui.js}" charset="utf-8"></script>

</head>
<body>
<!--<div class="layui-fluid">-->
<!--    <div class="layui-row layui-col-space15">-->









<div class="layui-card">
    <div class="layui-card-header">实例调用</div>
    <div class="layui-card-body">
    <div class="layui-btn-container">
        <button type="button" class="layui-btn" lay-demotransferactive="getData">获取右侧数据</button>
        <button type="button" class="layui-btn" lay-demotransferactive="reload">重载实例</button>
    </div>
    <div id="test-transfer-demo7">
        <div class="layui-transfer layui-form layui-border-box" lay-filter="LAY-transfer-7">
            <div id="test7" class="demo-transfer"></div>
        </div>
    </div>
    </div>
</div>
<script   th:inline="none">
    layui.use(['transfer', 'layer', 'util'], function(){
        var $ = layui.$
            ,transfer = layui.transfer
            ,layer = layui.layer
            ,util = layui.util;

        //模拟数据
        var data1,data2;
        //     [
        //     {"value": "1", "title": "李白"}
        //     ,{"value": "2", "title": "杜甫"}
        //     ,{"value": "3", "title": "苏轼"}
        //     ,{"value": "4", "title": "李清照"}
        //     ,{"value": "5", "title": "鲁迅", "disabled": true}
        //     ,{"value": "6", "title": "巴金"}
        //     ,{"value": "7", "title": "冰心"}
        //     ,{"value": "8", "title": "矛盾"}
        //     ,{"value": "9", "title": "贤心"}
        // ]
        //
        //     ,data2 = [
        //     {"value": "1", "title": "瓦罐汤"}
        //     ,{"value": "2", "title": "油酥饼"}
        //     ,{"value": "3", "title": "炸酱面"}
        //     ,{"value": "4", "title": "串串香", "disabled": true}
        //     ,{"value": "5", "title": "豆腐脑"}
        //     ,{"value": "6", "title": "驴打滚"}
        //     ,{"value": "7", "title": "北京烤鸭"}
        //     ,{"value": "8", "title": "烤冷面"}
        //     ,{"value": "9", "title": "毛血旺", "disabled": true}
        //     ,{"value": "10", "title": "肉夹馍"}
        //     ,{"value": "11", "title": "臊子面"}
        //     ,{"value": "12", "title": "凉皮"}
        //     ,{"value": "13", "title": "羊肉泡馍"}
        //     ,{"value": "14", "title": "冰糖葫芦", "disabled": true}
        //     ,{"value": "15", "title": "狼牙土豆"}
        // ];
        $ = layui.jquery;
        $.ajax({
            url:'/getClassInstructorNonSelect',
            type:'post',
            data:{action:'js_type'},
            async:false,
            success:function (data) {
                data1=data;

            }
        });
        $.ajax({
            url:'/getClassInstructorSelect',
            type:'post',
            data:{action:'js_type'},
            async: false,
            success:function(data) {
                data2=data;
                console.log(data2);
            }
        });
        //实例调用
        transfer.render({
            elem: '#test7'
            ,title: ['全选', '全选'] //自定义标题
            ,data: data1
            ,id: 'key123' //定义唯一索引
            ,value: ['5', '5', '9']
        });
        //批量办法定事件
        util.event('lay-demoTransferActive', {
            getData: function(othis){
                var getData = transfer.getData('key123'); //获取右侧数据
                layer.alert(JSON.stringify(getData));
            }
            ,reload:function(){
                //实例重载
                transfer.reload('key123', {
                    title: ['文人', '喜欢的文人']
                    ,value: ['89', '5', '9']
                    ,showSearch: true
                })
            }
        });

    });
</script>
</body>
</html>